.game-options-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
  font-size: 1.5rem;
  text-shadow: 0px 0px 0.1em white, 0px 0px 0.5em white;
  margin-top: 2vh;
  gap: 2vw;
}

.game-options-div button {
  background-color: #0FCDE0;
  pointer-events: all;
  font-size: 1em;
  border-radius: .75em;
  padding: 0.25em;
  transition: 100ms ease-in
}
.game-options-div button:hover {
  background-color: #39EBFF;
}
.canvas-div {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    transition: box-shadow ease-out 1s;
    pointer-events: none;
}

#main-canvas {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
}